@media(max-width:1748px) and (min-width:1440px){
    footer .container{
        width:90%;
    }
    .footerRowTwo p {
        font-size: 176px;
    }

    .footerRowTwo p{
        margin:140px 0;
    }
}
@media (max-width:1440px) and (min-width:1024px)
{
    .footerRowTwo p {
        font-size: 176px;
    }

    .footerRowTwo p{
        margin:140px 0;
    }

    .reviewCardMovement {
        top: 2400px;
    }
    nav a {
        font-size: 12px;
        padding:8px;
    }
    nav ul {
        height: 36px;
        margin:12px 0;
    }

    h1{
        font-size: 58px;
    }

    h2{
        font-size:52px;
    }

    .home .container {
        width: 80% !important;
    }

    .heroTag h6 {
        font-weight: 550;
        font-size: 12px !important;
    }

    
    .productsAction {
        width: 80px;
        height: 80px;
    }
    .fa-2x {
        font-size: 1.5em !important;
    }
    .contacts .container {
        height: 600px;
    }
    form.contact-form{
        gap: 10px;
    }
    .blogsSide img {
        width: 300px;
        height: auto;
        border-radius: 20px;
    }
    .blogsCenter img {
        min-width:300px;
    }
    
    .reviewCards img {
        width:300px;
        height:379px;
    }
    footer .container{
        width:90%;
    }

    .footerRowOne p{
        font-size:16px;
    }
    .socIcons img {
        width: 24px;
        height: 24px;
    }

    .footerRowTwo p {
        font-size: 126px;
    }
    footer{
        height:440px;
    }

}
@media (max-width:1023px) and (min-width:900px)
{
    .footerRowTwo p {
        font-size:100px;
    }

    .footerRowTwo p{
        margin:150px 0;
    }
    .reviewCardMovement {
        top: 2300px;
    }

    header button {
        font-size: 12px;
    }
    nav a {
        font-size: 12px;
        padding:8px;
    }
    nav ul {
        height: 36px;
        margin:12px 0;
        gap: 16px;
    }

    h1{
        font-size: 58px;
    }

    h2{
        font-size:40px;
    }

    .container {
        width: 90% !important;
    }

    .heroTag h6 {
        font-weight: 550;
        font-size: 12px !important;
    }

    
    .productsAction {
        width: 60px;
        height: 60px;
    }
    .fa-2x {
        font-size: 1.2em !important;
    }
    .contacts .container {
        height: 600px;
    }
    form.contact-form{
        gap: 10px;
    }
    .blogsSide img {
        width: 250px;
        height: auto;
        border-radius: 20px;
    }
     .blogsCenter img {
        height: 200px;
        min-width: 250px;
    }
    
    .reviewCards img {
        width:300px;
        height:379px;
    }
    footer .container{
        width:90%;
    }

    .footerRowOne p{
        font-size:12px;
    }
    .socIcons img {
        width: 18px;
        height: 18px;
    }


    footer{
        height:388px;
    }
    p{
        font-size: 18px;
    }
    h5{
        font-size: 22px;
    }
    
    .readMoreButton {
        font-size:16px;
    }
    .readMore i{
        font-weight: 600 !important;
    }
    .contactForm {
        gap: 32px;
    }  
         
}
@media (max-width:899px) and (min-width:768px)
{
    .footerRowTwo p {
        font-size:90px;
    }

    .footerRowTwo p{
        margin:160px 0;
    }
    .reviewCardMovement {
        top: 2300px;
    }

    header button {
        font-size: 12px;
    }
    nav a {
        font-size: 12px;
        padding:8px;
    }
    nav ul {
        height: 36px;
        margin:12px 0;
        gap: 16px;
    }

    h1{
        font-size: 36px;
    }

    h2{
        font-size:40px;
    }

    header .container {
        width: 98%;
    }

    .container{
        width:90% !important;
    }
    .heroTag h6 {
        font-weight: 550;
        font-size: 12px !important;
    }

    
    .productsAction {
        width: 60px;
        height: 60px;
    }
    .fa-2x {
        font-size: 1.2em !important;
    }
    .contacts .container {
        height: 774px;
    }
    form.contact-form{
        gap: 10px;
    }
    .blogsSide img {
        width: 220px;
        height: auto;
        border-radius: 20px;
    }
     .blogsCenter img {
        height: 200px;
        min-width: 250px;
    }
    
    .reviewCards img {
        width:248px;
        height:313px;
    }
    footer .container{
        width:90%;
    }

    .footerRowOne p{
        font-size:12px;
    }
    .socIcons img {
        width: 18px;
        height: 18px;
    }


    footer{
        height:388px;
    }
    p{
        font-size: 18px;
    }
    h5{
        font-size: 22px;
    }
    
    .readMoreButton {
        font-size:16px;
    }
    .readMore i{
        font-weight: 600 !important;
    }
    .contactForm {
        gap: 32px;
    } 
    .cfp1 {
        flex-direction: column;
    }      
    header nav{
        display: none !important;
    }
    .mobNav {
        opacity:1;
        display: block;
        position: fixed;
        bottom: 40px;
        z-index: 1;
        visibility: visible;
    }
}
@media (max-width:767px) and (min-width:420px)
{
    .greenBall{
        width: 6px;
        height: 6px;
    }
    header .logo{
        width:160px !important;
    }

    header {
        width:80%;
    }
    .footerRowOne {
        flex-direction: column;
    }
    .footerRowTwo p {
        font-size:56px;
    }

    .footerRowTwo p{
        margin:60px 0;
    }
    .reviewCardMovement {
        top: 2000px;
    }

    .reviewAction{
        width:24px;
        height:24px;
    }

    .reviewGo {
        width: 32px;
        height: 32px;
    }

    header button {
        font-size: 12px;
    }
    nav a {
        font-size: 12px;
        padding:8px;
    }
    nav ul {
        height: 36px;
        margin:12px 0;
        gap: 16px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size:40px;
    }

    .home .container {
        width: 98%;
    }

    .container{
        width:90%;
    }
    .heroTag h6 {
        font-weight: 550;
        font-size: 8px !important;
    }

    .about .container{
        flex-direction: column;
    }
    
    .productsAction {
        width: 60px;
        height: 60px;
    }
    .productsContainer {
        padding:40px;
    }
    .products .container{
        gap:20px;
        flex-direction: column;
    }
    .fa-2x {
        font-size: 1.2em !important;
    }
    .contacts .container {
        height: 774px;
    }
    form.contact-form{
        gap: 10px;
    }
    .blogContainer{
        flex-direction: column;
    }
    .blogsSide img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
     .blogsCenter img {
        height: 200px;
        min-width: 250px;
    }
    
    #reviews{
        padding:32px 20px;
        gap:8px;
    }
    .reviewCards img {
        width:200px;
        height:253px;
    }
    footer .container{
        width:90%;
    }

    .footerRowOne p{
        font-size:12px;
    }
    .socIcons img {
        width: 18px;
        height: 18px;
    }


    footer{
        height:388px;
    }
    p{
        font-size: 16px;
    }
    h5{
        font-size: 22px;
    }
    
    .readMoreButton {
        font-size:16px;
    }
    .readMore i{
        font-weight: 600 !important;
    }

    .contacts .container{
        flex-direction: column;
    }
    .contactForm {
        gap: 32px;
    } 
    .cfp1 {
        flex-direction: column;
    }      
    header nav{
        display: none !important;
    }
    .mobNav {
        opacity:1;
        display: block;
        position: fixed;
        bottom: 40px;
        z-index: 1;
        visibility: visible;
        border: 1px;
    }
    .reviews .container{
        transform: translateX(10px);
    }
}

@media (max-width:420px)
{
    .reviews .container{
        transform:translateX(50px);
    }
    .greenBall{
        width: 6px;
        height: 6px;
    }
    header .logo{
        width:120px !important;
    }

    header {
        width:80%;
    }
    .footerRowOne {
        flex-direction: column;
    }
    .footerRowTwo p {
        font-size:35px;
    }

    .footerRowTwo p{
        margin:80px 0;
    }
    .reviewCardMovement {
        top: 2000px;
    }

    .reviewAction{
        width:24px;
        height:24px;
    }

    .reviewGo {
        width: 32px;
        height: 32px;
    }

    header button {
        font-size: 8px;
        padding: 8px;;
    }
    nav a {
        font-size: 8px;
        padding:8px;
    }
    nav ul {
        height: 36px;
        margin:12px 0;
        gap: 8px;
    }

    h1 {
        line-height: 100%;
        font-size: 24px;
    }

    h2{
        font-size:40px;
    }
    .getstartedButton{
        font-size: 12px;
    }

    .home .container {
        width: 98%;
    }

    .container{
        width:90%;
    }
    .heroTag h6 {
        font-weight: 550;
        font-size: 8px !important;
    }

    .about .container{
        flex-direction: column;
    }
    
    .productsAction {
        width: 60px;
        height: 60px;
    }
    .productsContainer {
        padding:40px;
    }
    .products .container{
        gap:20px;
        flex-direction: column;
    }
    .fa-2x {
        font-size: 1.2em !important;
    }
    .contacts .container {
        height: 774px;
    }
    form.contact-form{
        gap: 10px;
    }
    .blogContainer{
        flex-direction: column;
    }
    .blogsSide img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
     .blogsCenter img {
        height: 200px;
        min-width: 250px;
    }
    
    #reviews{
        padding:32px 20px;
    }
    .reviewCards img {
        width:200px;
        height:253px;
    }
    footer .container{
        width:90%;
    }

    .footerRowOne p{
        font-size:12px;
    }
    .socIcons img {
        width: 18px;
        height: 18px;
    }


    footer{
        height:430px;
    }
    p{
        font-size: 12px;
    }
    h5{
        font-size: 22px;
    }
    
    .readMoreButton {
        font-size:16px;
    }
    .readMore i{
        font-weight: 600 !important;
    }

    .contacts .container{
        flex-direction: column;
    }
    .contactForm {
        gap: 32px;
    } 
    .cfp1 {
        flex-direction: column;
    }      
    header nav{
        display: none !important;
    }
    .mobNav {
        opacity:1;
        display: block;
        position: fixed;
        bottom: 40px;
        z-index: 1;
        visibility: visible;
        border: 1px;
    }
    .reviews .container{
        transform: translateX(58px);
    }
    .pageLinks {
        gap: 10px;
    }
}
